.background{
    background-color: lightblue;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0;
}
h2{
    padding-left: 10px;
    padding-top: 3px;
    margin: 0px;
    background-color: lightcyan;
}

#versusGraphic{
    height: 100px;
  width: 100%;
}
.fighter{
    width: 100px;
}
.versusContainer {
    padding-top: 50px;
    margin-left: 90px;
    margin-right: 80px;
    width: 100px;
    height: calc(100%-50px);
    display: flex;
    flex-direction: column;
    margin-top: 0;
    align-items: center;
}
h1{
font-weight: bold;
margin-top: 10px;
}
.loss{
    background: linear-gradient(to right,#383a7c, #0084ff);
}
.draw{
    background: linear-gradient(to right,#753f3f 0%,#808080 50%, #383a7c 100%);
}
.win{
    background: linear-gradient(to right,#ff0000, #753f3f);
}
.mat-button-toggle-checked {
    background: black;
    color: white;
  }

  