<div class = "fighter">
  <div class ="Suche" [autofocus]="false">
     <sub>{{this.objekt.name}} ({{a[this.objekt.faction] || 'keine Faction'}})</sub>
     <form [autofocus]="false">  
      @if(currentPage != "boxing"){
      <input #inputField [placeholder]="this.objekt.name + '...'" class = "input" type="text" [formControl]="control" [matAutocomplete]="automatic" (focus)="grrr()" autofocus = "false" [autofocus]="false" (keypress)="knopfGedrueckt($event, inputField.value)">
     <mat-autocomplete #automatic="matAutocomplete" (optionSelected)="roflkopter($event)" [panelWidth]="'140px'" [autofocus]="false">
        @for (name of gefilterteKaempfer | async; track name) {
          <mat-option  [value]="name">{{name}}</mat-option>
        }
    </mat-autocomplete>
  }
  @else {
    <input #inputField [placeholder]="this.objekt.name + '...'" class = "input" type="text" [formControl]="control" (focus)="grrr()" autofocus = "false" [autofocus]="false" (keypress)="knopfGedrueckt($event, inputField.value.trim())">
  }
    </form> 
  </div>
    
    <img [src] = "'https://' + this.objekt.image">
    <h3><span id = "W">{{this.objekt.record[0]}} </span><span id = "L"> {{this.objekt.record[2]}} </span><span id = "D"> {{this.objekt.record[1]}} </span></h3>
    <em>{{this.objekt.eloRating}}</em>
</div>