.random-color() {
  @var1: `Math.round(Math.random() * 255)`;
  @color: rgba(@var1, @var1,@var1,1);
  background: linear-gradient(to right,rgba(0, 0, 0, 0), @color);
}
.overall{
  width: 450px;
  height: 6vh;
  padding-left: 20px;
  align-items: center;
  display: flex;
  flex-direction: row;
  border-radius: 7px;
  margin: 10px;
  color: white;
  .random-color();
}
img{
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: 2%;
    border-radius: 7px;
}
#fürBild{
  flex: 1;
  overflow: hidden;
  height: 100%;
}
.test{
 margin-left: 0%;
 position: relative;
flex: 2;
}
#W{
  color: green;

}
#L{
  color: black;

}
#D{
  color: blue;
}
span{
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: large;
}

.name{
  font-family: sans-serif;
  font-size: medium;
  margin-right: 5px;
}

.name:hover{
  text-decoration: underline;
  cursor: pointer;
}